
.layout-container {
  max-width: var(--max-width); 
  margin: 20px auto;
  padding: 0 20px;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  min-height: 70vh;
}